<div id="footer" class="text-center">
    <div class="container">
        <div class="credits">
            <p class="small">Imagen de fondo: <strong><em>"Erythrinae"</em></strong>, ilustración digital realizada por MOKU para el libro <em>100 Años de Inmigración Okinawense en la Argentina</em>, inspirada en la unión del <strong>deigo</strong>, flor oficial de Okinawa, y el <strong>ceibo</strong>, flor nacional de Argentina.</p>
            <hr>
            <p>&copy;2005-2022
                <a href="http://moku.com.ar" target="_blank">M<span style="color:red;">O</span>KU
                    graphic design</a>
            </p>
        </div>
    </div>
</div>
