<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"
            href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            target="_blank">
            <img src="assets/images/APLogo-20-20.png" height="50" alt="Argentina Programa"> #YoProgramo
        </a>
        <ul class="navbar-nav ms-auto me-2 d-flex flex-row">
            <li class="nav-item m-2">
                <a class="nav-link" href="https://github.com/moku-17" target="_blank"><i class="bi bi-github"></i></a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" href="https://www.linkedin.com/in/monica-okuma-74536224" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" href="https://www.moku.com.ar" target="_blank"><i class="bi bi-globe"></i></a>
            </li>
        </ul>
<!--        <button routerLink="/login" class="btn btn-outline-success">Login</button>-->
        <button routerLink="/login" class="btn btn-outline-danger">Logout</button>
    </div>
</nav>
<!--nav main-->
<nav id="navbar_top" class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a class="nav-link" href="#header">M<span class="text-danger">O</span>KU</a>
                <a class="nav-link" href="#about">Perfil</a>
                <a class="nav-link" href="#experience">Experiencia</a>
                <a class="nav-link" href="#education">Educación</a>
                <a class="nav-link" href="#skills">Habilidades</a>
                <a class="nav-link" href="#projects">Proyectos</a>
<!--                <a class="nav-link" href="#hobbies">Intereses</a>-->
            </div>
        </div>
    </div>
</nav>