<section id="experience">
    <div class="position-relative overflow-hidden p-3 p-md-4 m-md-5">
        <div class="container d-flex justify-content-between align-items-baseline">
            <h2>Experiencia lab<span class="text-danger">o</span>ral</h2>
            <a (click)="onOpenModal(undefined,'add')"><i class="bi bi-plus-square-fill"></i></a>
        </div>
        <div *ngFor="let experiencia of experiencias" class="card mb-3 container wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0.5s">
            <div class="d-flex">
                <img class="mt-2" src="{{experiencia?.imageLogo}}" alt="{{experiencia?.empresa}}" width="80" height="80">
                <div class="flex-grow-1 ms-3">
                    <div class="d-flex align-items-baseline">
                        <h5 class="my-0 me-auto"><strong>{{experiencia?.puesto}}</strong><br>{{experiencia?.empresa}}
                        </h5>
                        <a (click)="onOpenModal(experiencia,'edit')" data-original-title="Editar"><i
                                class="bi bi-pencil-fill ms-2"></i></a>
                        <a (click)="onOpenModal(experiencia,'delete')" data-original-title="Eliminar"><i
                                class="bi bi-trash-fill ms-2"></i></a>
                    </div>
                    <p class="mt-0"><span class="small">({{experiencia?.fechaInicio}}-{{experiencia?.fechaFin}})</span>
                    </p>
                </div>
            </div>
            <p>
                {{experiencia?.descripcion}}
            </p>
        </div>
    </div>
</section>
<div class="modal fade" tabindex="-1" role="dialog" id="addExperienciaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar experiencia</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
                    <div class="form-group mb-3">
                        <label for="puesto">Puesto</label>
                        <input type="text" ngModel name="puesto" class="form-control" id="puesto" placeholder="Puesto"
                            required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="empresa">Empresa</label>
                        <input type="text" ngModel name="empresa" class="form-control" id="empresa"
                            placeholder="Empresa" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="imageLogo">URL del logo de la empresa</label>
                        <input type="text" ngModel name="imageLogo" class="form-control" id="imageLogo"
                            placeholder="URL del logo de la empresa" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="fechaInicio">Fecha de inicio</label>
                        <input type="text" ngModel name="fechaInicio" class="form-control" id="fechaInicio"
                            placeholder="Fecha de inicio" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="fechaFin">Fecha de finalización</label>
                        <input type="text" ngModel name="fechaFin" class="form-control" id="fechaFin"
                            placeholder="Fecha de finalización" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="descripcion">Descripción de tareas</label>
                        <input type="text" ngModel name="descripcion" class="form-control" id="descripcion"
                            placeholder="Descripción de tareas" required>
                    </div>
                    <input type="hidden" ngModel name="personaId" class="form-control" id="personaId" value="28911551">
                    <div class="modal-footer">
                        <button type="button" id="add-experiencia-form" class="btn btn-secondary"
                            data-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar
                            cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="updateExperienciaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar experiencia</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group mb-3">
                        <label for="puesto">Puesto</label>
                        <input type="text" ngModel="{{editExperiencia?.puesto}}" name="puesto" class="form-control"
                            id="puesto" placeholder="Puesto" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="empresa">Empresa</label>
                        <input type="text" ngModel="{{editExperiencia?.empresa}}" name="empresa" class="form-control"
                            id="empresa" placeholder="Empresa" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="imageLogo">URL del logo de la empresa</label>
                        <input type="text" ngModel="{{editExperiencia?.imageLogo}}" name="imageLogo"
                            class="form-control" id="imageLogo" placeholder="URL del logo de la empresa" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="fechaInicio">Fecha de inicio</label>
                        <input type="text" ngModel="{{editExperiencia?.fechaInicio}}" name="fechaInicio"
                            class="form-control" id="fechaInicio" placeholder="Fecha de inicio" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="fechaFin">Fecha de finalización</label>
                        <input type="text" ngModel="{{editExperiencia?.fechaFin}}" name="fechaFin" class="form-control"
                            id="fechaFin" placeholder="Fecha de finalización" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="descripcion">Descripción de tareas</label>
                        <input type="text" ngModel="{{editExperiencia?.descripcion}}" name="descripcion"
                            class="form-control" id="descripcion" placeholder="Descripción de tareas" required>
                    </div>
                    <input type="hidden" ngModel="{{editExperiencia?.id}}" name="id" class="form-control" id="id">
                    <input type="hidden" ngModel="{{editExperiencia?.personaId}}" name="personaId" class="form-control" id="personaId">
                    <div class="modal-footer">
                        <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button (click)="onUpdateExperiencia(editForm.value)" data-dismiss="modal"
                            class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="deleteExperienciaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar {{deleteExperiencia?.puesto}} en {{deleteExperiencia?.empresa}}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>¿Confirma eliminar {{deleteExperiencia?.puesto}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteExperiencia(deleteExperiencia!.id)" class="btn btn-danger"
                        data-dismiss="modal">Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>